*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI',sans-serif;
    background-color: #f4f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: rgb(181, 232, 232);
    padding: 40px;
    width: 330px;
    text-align: center;
    border-radius: 80px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

h1{
    color: rgb(29, 20, 28);
    margin-bottom: 10px;
} 

.quote{
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin-bottom: 25px;
}

.timer{
    font-size: 48px;
    font-weight: bold;
    color: rgb(43, 123, 181);
    margin-bottom: 25px;
}

a.button{
    display: inline-block;
    text-decoration: none;
    background-color: rgb(99, 217, 86);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

a.button:hover{
    background-color: rgb(42, 165, 155);
}

.stats{
    margin-top: 20px;
    font-size: 14px;
    color: rgb(6, 24, 24);
}


